Flask==3.0.1
Flask-SQLAlchemy==3.1.1
Flask-Security==3.0.0
Flask-RESTful==0.3.10
pydub==0.25.1
Flask-Caching==2.1.0
celery==5.2.3
matplotlib==3.8.3
seaborn==0.13.2
Flask-Cors==4.0.0
Flask-Security-Too==5.3.3
redis==5.0.2