.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.pill {
  border-radius: 23px;
}

.material-symbols-rounded {
  fill: black;
}

.content {
  margin-top: 70px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.album-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit:hover {
  color: grey;
}

.song-image {
  width: 185px;
  height: 185px;
  object-fit: cover;
}

.artist-image {
  width: 185px;
  height: 185px;
  object-fit: cover;
  border-radius: 50%;
}

.table-image {
  height: 35px;
  width: 35px;
  object-fit: cover;
}

.player {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.lyrics-container {
  max-height: 80vh;
  overflow-y: auto;
}

.lyrics-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.songs-container {
  max-height: 45vh;
  overflow-y: auto;
}

.lyrics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
}

.song-poster {
  text-align: center;
  margin-bottom: 20px;
}

.song-poster img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.liked-songs {
  max-height: 25vh;
  overflow-y: auto;
}

.like-rating {
  position: fixed;
  bottom: 70px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.like-song,
.rating {
  display: flex;
  align-items: center;
}

.like-song {
  margin-left: 145px;
}
.rating {
  margin-right: 145px;
}

.rating .btn-group {
  margin-left: 10px;
}
